extends ./layout.jade
block contenido
  a(href="close" class="btncss btncrrsesion") Cerrar sesión
  section(class="container forms")
        div(class="form login")
            div(class="form-content")
              header Cargar operación
              div(class="user")
                  p Usuario: 
                  p!=user
                form(action="/uploadmovement",method="POST")
                  div(class="field input-field")
                    input(type="date", name="fechaoper",placeholder="", class="input")
                  div(class="field input-field") 
                    input(type="text", name="companyname",list="empresas",placeholder="Nombre de la empresa", class="input")
                    datalist(id="empresas")
                      for empresa in empresas
                        option(value=empresa)
                  div(class="field input-field")
                      input(type="text", name="fondoname",list="fondos",placeholder="Nombre del fondo", class="input")
                      datalist(id="fondos")
                        for fondo in fondos
                          option(value=fondo)
                  div(class="field input-field")
                      input(type="text", name="tipooper", list="operaciones", placeholder="Tipo de operación", class="input")
                      datalist(id="operaciones")
                        option(value="Suscripción")
                        option(value="Rescate")
                  div(class="field input-field")
                        input(type="number", name="importe",placeholder="Importe", class="input", step=".01" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$")
                      p(class="error")!=error
                  div(class="field button-field")
                      input(type="submit" value="Subir Movimiento" class="btn btn-info btncss btn-primary btn-lg")
                  div(class="field button-field")
                      a(href="/" class="btn btn-primary btn-lg btncss btn-cancel hidden animated") Cancelar


//-
  h1(class="cargamov") Cargar operación
  p Usuario:
  p(class="usuarios")!=user
  
  a(href="close" class="btncss btncrrsesion") Cerrar sesión
  form(action="/uploadmovement",method="POST")
    //- div
    //-   label(for="username") Nombre de usuario
    //-   input(type="text", name="username",placeholder="Nombre de usuario", class="form-control")
    //- div
    //-   label(for="grupo") Grupo
    //-   input(type="text", name="grupo",placeholder="Grupo", class="form-control")
    //- div
    //-   label(for="compania") Compania
    //-   input(type="text", name="compania",placeholder="Compania", class="form-control")
    //- div
    //-   label(for="adminname") Administrador
    //-   input(type="text", name="adminname",list="administradores",placeholder="Administrador", class="form-control")
    //-   datalist(id="administradores")
    //-     for admin in administradores
    //-       option(value=admin)
    div
      label(for="fechaoper") Fecha de operación
      input(type="date", name="fechaoper",placeholder="", class="form-control")
    div
      label(for="companyname") Nombre de la empresa
      input(type="text", name="companyname",list="empresas",placeholder="Nombre de la empresa", class="form-control")
      datalist(id="empresas")
        for empresa in empresas
          option(value=empresa)
    div
      label(for="fondoname") Administrador - Nombre de fondo
      input(type="text", name="fondoname",list="fondos",placeholder="Nombre del fondo", class="form-control")
      datalist(id="fondos")
        for fondo in fondos
          option(value=fondo)
    div
      label(for="tipooper") Tipo de operación
      input(type="text", name="tipooper", list="operaciones", placeholder="Tipo de operación", class="form-control")
      datalist(id="operaciones")
        option(value="Suscripción")
        option(value="Rescate")
    div
      label(for="importe") Importe
      input(type="number", name="importe",placeholder="0", class="form-control", step=".01")
    p(class="error")!=error
    div
      input(type="submit" value="Subir Movimiento" class="btn btn-info btncss btn-primary btn-lg")
    div
      a(href="/" class="btn btn-primary btn-lg btn-cancel" role="button") Cancelar
