extends ./layout.jade
block contenido
  <h1 class="centrado">Listado de movimientos</h1>
  <p class="intro"> Usuario: </p>
  p!=user
  a(href="/close" class=" btn btn-primary btn-lg btncss btnubicacion " role="button") Cerrar sesión
  a(href="/cmovement" class=" btn btn-primary btn-lg btncss btnubicacion " role="button") Subir movimiento
  h3 Mis Movimientos
  table( class="table")
    thead
      tr
        th(scope="col" class="tabHead") ID
        th(scope="col" class="tabHead") Username
        th(scope="col" class="tabHead") Grupo
        th(scope="col" class="tabHead") Compañía
        th(scope="col" class="tabHead") Administrador
        th(scope="col" class="tabHead") Fondo
        th(scope="col" class="tabHead") Tipo Operación
        th(scope="col" class="tabHead") Importe
        th(scope="col" class="tabHead") Fecha
    tbody(class="table-group-divider")
      for mov in movimientos
        tr(class="margindown")
          td(scope="row" class="padding_r divider")!=mov.idoperacion
          td(scope="row" class="padding_r divider")!=mov.username
          td(scope="row" class="padding_r divider")!=mov.groupname
          td(scope="row" class="padding_r divider")!=mov.companyname
          td(scope="row" class="padding_r divider")!=mov.adminname
          td(scope="row" class="padding_r divider")!=mov.fondoname
          td(scope="row" class="padding_r divider")!=mov.tipooperacion
          td(scope="row" class="padding_r divider")!=mov.importe
          td(scope="row" class="padding_r divider")!=mov.fechaoperacion
          td
            a(href=`/umovement/${mov.idoperacion}` class=" btninline " role="button") Modificar
            a(href=`/dmovement/${mov.idoperacion}` class=" btninline" role="button") Eliminar